body{
    background-color:gold;
}
#box1{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: papayawhip;
    margin: 5px;
    padding: 1px;
}
.box3{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: maroon;
    margin: 5px;
    padding: 1px;
}
.bekezdes{
    color: midnightblue;
    font-style: italic;
}