body {
    font-family: 'Smooch Sans', sans-serif;
    color: greenyellow;
    ;
    font-size: 50px;
}

#gameBackGround {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: aqua;
}

#gameArea {
    background-color: coral;
    box-shadow:1 1 10px crimson;
    width: 600px;
    height: 660px;
    margin: 50px auto;
    border-radius: 30px;

}

#results { 
    width: 500px;
    height: 60px;
    line-height: 55px;
    background-color: darksalmon;
    margin: 30px 50px 0 50px;
    text-align: center;
    font-size: 30px;
    color: magenta;
}

#gameTable {
    position: absolute;
    width: 500px;
    height: 440px;
    margin: 100px 40px 40px 50px;
    background-image: url('field.png');
    background-size: contain;

}

#startPanel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s;
    text-align: center;
}

button {
    width: 150px;
    padding: 10px;
    transition: box-shadow 0.6s;
    border: 2px solid rgb(50, 77, 23);
    color: rgb(50, 77, 23);
    border-radius: 10px;
}

button:hover {
    background-color: rgb(50, 77, 23);
    box-shadow: 0 0 15px white;
    transition: box-shadow 0.3s;
    font-weight: bold;
    color: white;
}

.selectedBtn {
    background-color: chartreuse;
}

#startBtn {
    margin-top: 220px;
    width: 80px;
    border: none;
    background-color: transparent;
    border-radius: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {}

#startText {}

.field{}

.block{
    background-image: url('../img/block.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 21px;
    height: 18px;
} 
<<<<<<< HEAD
.snakebody{background-image: url('snakehead.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px}; 
.snakehead{background-image: url('snakehead.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    width: 24px;
    height: 24px}; 
=======
.snakebody {
    background-color: green;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 6px;
    width: 21px;
    height: 21px;
}

.snakehead {
    background-image: url('../img/snakehead.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 6px;
    width: 21px;
    height: 21px;
}
>>>>>>> bf2c4da3795a60c328f2352ced6b7b17b6e7e296
.apple{
    background-image: url('../img/apple.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
} 
.goldenapple{
    background-image: url('../img/golden_apple.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
} 
.greenapple{
    background-image: url('../img/green_apple.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}