body{
    background-color: gold;

}
#ball{
    position: relative;
    
    background-color: lightblue;
    border: navy 2px solid;
    border-radius: 50%;
    box-shadow: 0 0 10px gainsboro;
}
#bat{
    position: relative;
    background-color: olivedrab;
    border: 2px solid steelblue;
    
    box-shadow: hotpink 0 0 20px;
    border-radius: 6px;
}