body{
    background-color: gold;

}
#ball{
    position: relative;
    
    background-color: lightblue;
    border: navy 2px solid;
    border-radius: 50%;
    box-shadow: 0 0 10px gainsboro;
}
#bat{
    position: relative;
    background-color: olivedrab;
    border: 2px solid steelblue;
    
    box-shadow: hotpink 0 0 20px;
    border-radius: 6px;
}
.conta{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    

}
#info{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 155px;
    height: 95px;
    background-color: lightcoral;
    color: yellow;
    font-weight: bold;
    text-shadow: unset;
    padding: 15px;
    line-height: 200%;
    letter-spacing: 2px;
    border: 2px solid greenyellow;
    box-shadow: 0 0 10px gray;
}