:root{
    --body-bg:silver;
    --container-bg:grey;
    --shadow:red;
}
body{
    background-color: var(--body-bg);
}
#container{
background-color: var(--container-bg);
margin: 20px;
padding: 20px;
box-shadow: 0 0 20px var(--shadow);
display: flex;
flex-direction: row;
}
#editor{

}
#timetable{

}