h1{
    background-color: green;
    font-family: Helvetica;
    color: #062214;
}
.bekezdes{
    background-color: aquamarine;
}
.barna{
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}